@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');


body,
html {
    background : #363636;
    font-family: 'Trebuchet MS', sans-serif;
    text-align : center;
}

.mainContainer h1 {
    font-family: 'Josefin Sans', sans-serif;
    padding    : 5px 0px 10px 0px;
    color      : #94a0a1;
    text-shadow: 0 0 10px #000000;
}




.mainImage {
    width        : 617px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}



.mainContainer {
    text-shadow: 2px 2px 2px 2px 94a0a1;
}

.text1 {
    padding       : 5px 200px;
    text-transform: uppercase;
    color         : 94a0a1;

}


.text2 {
    color         : #ffffff;
    font-size     : 22px;
    letter-spacing: 5px;
    font-family   : 'Waterfall', cursive;
}

@media only screen and (max-width:500px) {

    .text1 {
        padding       : 0px 20px;
        text-transform: uppercase;
        color         : #008000;
    }

    .effect2 {
        font-size  : 17px;
        padding-top: 1px;
    }

    .container .teamName {
        padding       : 10px 0px;
        letter-spacing: 12px;
        font-size     : 14px;
    }

    .mainContainer h1 {
        padding: 2px 0px;
    }

    .textbox {

        font-size: 13px;
        width    : 300px;
    }

    .hr {
        width: 300px;
    }

    .text2 {
        color         : #94a0a1;
        font-size     : 17px;
        letter-spacing: 4px;
        font-family   : 'Waterfall', cursive;
    }
}
